.form-con {
    width: 560px;
    background-color: #fff;
}

.form-flex {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.form-con p, .form-con h2 {
    text-align: center;
}

.form-con img {
    width: 100%;
}

.form-con>.text {
    display: flex;
    flex-direction: column;
}

.form-con label {
    font-family: 'K_Gotham Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    text-transform: lowercase;
    color: #F6F6F6;
    opacity: 0.5;
}

.form-con input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    border-bottom: 0.5px solid #F6F6F6;
    border-radius: 0;
    margin-top: 5px;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    font-size: 0.7em;
    padding: 10px 0;
    font-family: "Codec Pro";
}

.form-con button {
    border-radius: 79px;
    font-family: 'Gilroy';
    font-size: 0.75em;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    padding: 15px 35px;
    background: #F0641E;
    color: #fff;
    width: 100%;
}

.form-con button:hover {
    /* color: #F0641E; */
}

.form-con label>input[type="checkbox"] {
    display: none;
}

.form-con label>input[type="checkbox"]+div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-con label>input[type="checkbox"]+div::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    border-radius: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

.form-con label>input[type="checkbox"]:checked+*::before {
    content: "✓";
    color: white;
    text-align: center;
}

.form-con input[type="text"]::placeholder {
    text-transform: none;
    font-weight: 300;
    color: #bdbdbd;
    opacity: 0.5;

}

.form-con .arrow {
    margin-left: 10px;
}

.form-con .error {
    height: 15px;
    color: rgb(255, 119, 119);
    font-size: 11px;
    margin-top: 4px;
    opacity: 0;
    transition: 0.3s;
}

.form-con .error.active {
    opacity: 1;
}

.form-con .inner {
    width: 100%;
    padding: 40px 45px;
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
    
    align-items: stretch;
}

.form-con form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .form-con {
        width: 100%;
        margin: 20px;
    } 

    .form-con h2 {
        font-size: 24px;
    }
}